/* css/style-home.css */
/* start style to Constants of all page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
  background: #007bee;
  border-radius: 15px;
}
html::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

html::-webkit-scrollbar-track {
  background: #fff; /* Color of the track */
}

html::-webkit-scrollbar-thumb {
  background-color: #0094ee; /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}
body {
  background-color: #fff !important;
}

.cargo {
  background-color: #007bee;
}

.main_button {
  background-color: #007bee;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main_text {
  color: #007bee;
}
.description_text {
  color: rgba(147, 147, 147, 1);
}

.head {
  color: rgba(0, 124, 238, 1);
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 124, 238, 1);
  text-align: center;
}

.service_image {
  position: relative;
  overflow: hidden;
}

.service_description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(to top, rgba(0 0 0 / .8), rgba(0 0 0 / .2));
  transition: .3s;
}

.service_description .book_btn{
  margin-bottom: -60px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.service_description:hover .book_btn{
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #ddd;
  padding: 5px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
}

.wish_list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #007bee;
  color: #007bee;
  padding: 2px 25px;
}

.popular {
  background: rgba(235, 242, 250, 1);
}

.machiens .swiper-slide{
  height: auto;
}

.machiens .card-body{
  flex: unset;
}
.machiens .card-img-top{
  object-position: center;
  object-fit: contain;
  max-height: 500px;
}

.see-more{
  text-decoration: none;
  color: black;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: auto;
  width: fit-content;
  border: 1px solid rgba(0 0 0 / .8);
  padding: 10px 20px;
  border-radius: 10px;
  transition: .3s;
}

.see-more:hover{
  background-color: #007bee;
  border-color: #007bee;
  color: white;
}

.problems{
  background-color: rgba(235, 242, 250, 1);
}

.testimony-section {
  position: relative;
  background-color: #fff;
}
.testimony-section .owl-carousel {
  margin: 0;
}
.testimony-section .owl-carousel .owl-stage-outer {
  padding: 20px 0 2em 0;
  position: relative;
}
.testimony-section .owl-nav {
  position: absolute;
  top: 100%;
  width: 100%;
}
.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  outline: none !important;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.testimony-section .owl-nav .owl-prev:hover span:before,
.testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
  color: #fff;
}
.testimony-section .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}
.testimony-section:hover .owl-nav .owl-prev,
.testimony-section:hover .owl-nav .owl-next {
  opacity: 1;
}
.testimony-section:hover .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section:hover .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}
.testimony-section .owl-dots {
  text-align: center;
}
.testimony-section .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.testimony-section .owl-dots .owl-dot.active {
  background: #064acb;
}
.testimony-section .owl-dots .owl-dot.active:after {
  border-color: #064acb;
}

.testimony-wrap {
  display: block;
  position: relative;
  background-color: rgba(0, 123, 238, 0.25);
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
}
.testimony-wrap .icon {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 124, 238, 1);
}
.testimony-wrap .icon span {
  color: #fff;
}
.testimony-wrap .user-img {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.testimony-wrap .name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
  color: #000000;
}
.testimony-wrap .position {
  font-size: 14px;
  color: #333333;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 0.4;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  color: #f79f24 !important;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: "";
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #b3b3b3;
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}
.owl-carousel:hover .owl-nav .owl-prev {
  left: -25px;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: -25px;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
  border: 1px solid red;
}
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}