/* ------
Style ServicesPage
----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  background-color: rgba(0, 123, 238, 0.15) !important;
}
html {
  scroll-behavior: smooth;
  border-radius: 15px;
}
html::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
html::-webkit-scrollbar-track {
  background: #fff; /* Color of the track */
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(170, 167, 167); /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}
/* Constant */
/* ////////////////////////////////////////////////////////// */
/* Start Header Styles */
header {
  background-color: rgba(0, 124, 238, 1);
}
header .container-fluid > .row > .col-md-6 > .home-1 .home-nav .navbar-brand {
  color: #fff;
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
header .container-fluid > .row > .col-md-6 > .home-1 .home-nav .navbar-brand span {
  color: rgba(30, 30, 30, 1);
}
header .container-fluid > .row > .col-md-6 > .home-1 .home-nav #navbarNav {
  margin: 10px;
  font-size: 16px;
  padding: 5px;
}
header .container-fluid > .row > .col-md-6 > .home-1 .home-nav #navbarNav .nav-item .nav-link {
  color: #fff;
  font-weight: 200;
  padding: 0 10px;
}
header .container-fluid > .row > .col-md-6 > .home-1 .home-nav #navbarNav .navbar-nav .active .nav-link {
  color: rgba(30, 30, 30, 1) !important;
  font-weight: bold;
}
header .container-fluid > .row > .col-md-6 > .profile {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
header .container-fluid > .row > .col-md-6 > .profile a {
  margin-right: 10px;
  color: #fff;
}
header .container-fluid > .row > .col-md-6 > .profile img {
  width: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

/* end Style header */
/* //////////////////////////////////////////////////////// */

/* start section side */
section.side {
  margin-top: 20px;
  height: auto;
}
section.side .container-fluid .row .bar {
  display: flex;
  flex-direction: column;
  /* margin: 5px 20px; */
  background-color: #fff;
  border-radius: 10px;
  /* width: 15%; */
  height: auto;
}
section.side .container-fluid .row .bar .bar-header {
  padding: 15px;
  border-bottom: 1px solid rgba(0 0 0 / .4);
}
section.side .container-fluid .row .bar a {
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  border-bottom: 1px solid rgba(0 0 0 / .2);
  transition: background-color .3s, color .2s .1s;
}
section.side .container-fluid .row .bar a:hover {
  background-color: #007bee;
  color: white;
}
section.side .container-fluid .row .bar a i {
}
section.side .container-fluid .row .col-md-3 a.act {
  color: black;

  width: 80%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
section.side .container-fluid .row .col-md-3 a.act2 {
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(0, 124, 238, 1);
  border-radius: 5px;
  color: #fff;
}

.side .container-fluid .row .col-xl-10 > div {
  background-color: #fff;
  /* margin: 10px; */
  border-radius: 10px;
  height: auto;
}
.side .container-fluid .row .col-xl-10 .search {
  margin: 10px 0;
  /* width: 40%; */
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 1);
}
.side .container-fluid .row .col-xl-10 .search .input-group .form input {
  border: none;
  font-size: 16px;
}
.side .container-fluid .row .col-xl-10 .search .input-group .form input::placeholder {
  color: rgba(147, 147, 147, 1);
  padding-left: 10px;
}
.side .container-fluid .row .col-xl-10 .search .input-group .btn i {
  color: rgba(147, 147, 147, 1);
}
.side .container-fluid .row .col-xl-10 .search .input-group .form input:focus {
  border: none;
}

.side .container-fluid .row .service .row .col-md-11 {
  margin: 10px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.side .container-fluid .row .service .row .col-md-11 .ser {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
}
.side .container-fluid .row .service .row .col-md-11 .ser .list {
  display: flex;
  align-items: center;
}
.side .container-fluid .row .service .row .col-md-11 .ser .list img {
  border-radius: 10px;
  max-width: 100%; /* Ensure images are not wider than their container */
  height: auto; /* Maintain aspect ratio */
  padding: 20px;
}
.side .container-fluid .row .service .row .col-md-11 .ser .list p {
  margin-top: 0;
  color: #007bee;
  font-size: 14px;
  font-weight: bold;
}
.side .container-fluid .row .service .row .col-md-11 .ser .list button.cart {
  background-color: #007bee;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.side .container-fluid .row .service .row .col-md-11 .hidden {
  display: none;
}

.side .container-fluid .row .service .row .col-md-11 #popupDiv {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv img {
  width: 90%;
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv p {
  color: #007bee;
  font-size: 24px;
  padding: 10px;
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv h6 {
  color: #007bee;
  font-size: 24px;
  padding: 10px;
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv .btn {
  color: #fff;
  background-color: #007bee;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv p.desc {
  color: rgba(30, 30, 30, 1);
  padding: 10px;
  font-size: 16px;
}
.side .container-fluid .row .service .row .col-md-11 #popupDiv.show {
  display: block;
}

@media (max-width: 768px) {
  section.side .container-fluid .row .bar {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  section.side .container-fluid .row .bar a {
    font-size: 12px;
  }
  .side .container-fluid .row .col-md-9 .search {
    width: 100%;
    margin: 10px 0;
  }
}

.service_image {
  position: relative;
  overflow: hidden;
}

.service_description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(to top, rgba(0 0 0 / .8), rgba(0 0 0 / .2));
  transition: .3s;
}

.service_description .book_btn{
  margin-bottom: -60px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.service_description:hover .book_btn{
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}