body {
  background-color: #ebf2fa;
}

.login,
.register {
  border: 1px solid #007cee;
  outline: none;
  padding: 5px 12px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #27537c;
  border: 1px solid #939393;
}

.main-color {
  color: #007cee;
}

aside {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

aside div a,
aside div i {
  color: #939393;
  text-align: left;
  width: 50%;
}

aside div i {
  text-align: right;
  width: 25%;
}

.active {
  color: #007cee;
  background: #007bee5d;
  padding: 7px 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.active > a,
.active > i {
  color: #007cee;
}

aside div:hover a,
aside div:hover i {
  color: #007cee;
}
.search_input {
  background-color: #fff;
  padding: 3px 7px;
}
.input input {
  outline: none;
  width: 50%;
}

.form div {
  padding: 5px 8px;
  border: 1px solid #007cee;
  background-color: #fff;
  border-radius: 10px;
}

.form div input {
  border: none;
  outline: none;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
